body{
    background-color: azure;
}
.preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}
.preview-pane{
    display: flex;
    width: min(70vw, 70vh);
    height: min(70vw, 70vh);
    background-color: brown;
    flex-direction: column;
}
.preview-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: beige;
}
.preview-cell{
    flex: 1;
    height: 100%;
}
.place-next{
    margin: auto;
    text-align: center;
}
.place-next button{
    background-color: lightgreen;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}